@import "tailwindcss";

@variant dark (&:is(.dark, .dark *));

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE / stary Edge */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;                /* Chrome, Safari */
  }
}